.Auth {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 4rem;
    position: relative;
  }
  
  .Auth > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  
  /* left side */
  .a-left{
      gap: 2rem;
  }
  
  .a-left > img {
    width: 4rem;
    height: 4rem;
  }
  
  .Webname > h1 {
      font-size: 3rem;
      background-color: red;
    
      /* Create the gradient. */
      background-image: var(--buttonBg);
      
      /* Set the background size and repeat properties. */
      background-size: 100%;
      background-repeat: repeat;
    
      /* Use the text as a mask for the background. */
      /* This will show the gradient as a text color rather than element bg. */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; 
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
  }
  
  .Webname>h6{
      font-size: 0.85rem;
  }



  .infoForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  
  .infoInput{
    border: none;
    outline: none;
    background-color: var(--inputColor);
    border-radius: 8px;
    padding: 20px;
    flex:1;
  }
  
  .infoForm>div{
    display: flex;
    gap: 1rem;
    height: 2rem;
    width: 90%;
  }

    .message {
      display: none;
      /* hide the message by default */
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      /* center horizontally */
      background-color: #fff;
      padding: 1rem;
      border: 1px solid #ccc;
      border-radius: 0.5rem;
    }
  
    .google-login-button:hover+.message {
      display: block;
      /* show the message when the button is hovered */
    }

    /* Customize the style of the Google Login button */
    .google-login-button {
      display: inline-block;
      background-color: #4285f4;
      color: #fff;
      border-radius: 2px;
      box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
      transition: background-color 0.3s ease;
    }
  
    .google-login-button:hover {
      background-color: #357ae8;
    }
  
    .google-login-button>div {
      padding: 0.5em 1em;
      font-size: 14px;
      font-weight: bold;
    }
  
    /* Hide the default Google Login button text */
    .google-login-button span {
      display: none;
    }
  
  .infoButton{
    width: 6rem;
    height: 2rem;
    align-self: flex-end;
    
  }

  .gbutton:hover{
    text-shadow: 2px 2px;
  }
  
  
  .authForm{
      background-color: var(--cardColor);
      border-radius: 1rem;
      padding: 1rem;
      box-shadow: 10px 10px;
  }
  
  .authForm>div{
      width: 100%;
      align-items: center;
      justify-content: center;
  }